[Unit]
Description=Coin-Api service

[Service]
Type=notify
WorkingDirectory=/home/stgleb/go/bin/
ExecStart=/home/stgleb/go/bin/coin-api -config config.toml
WatchdogSec=30s
Restart=on-failure

[Install]
Alias=coin-api
WantedBy=multi-user.target