[Unit]
Description=Coin-Api service

[Service]
Type=notify
ExecStart=$GOPATH/bin/coin-api -config $GOPATH/bin/config.toml
WatchdogSec=30s
Restart=on-failure

[Install]
Alias=coin-api
WantedBy=multi-user.target